header{
    font-family: 'Russo One', sans-serif;
    height: 100px;
    width: 100%;
    text-align: center;
}


body{
    background-color: rgb(160, 160, 160);

}

p{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.home{
    text-align: justify;
    display: inline;
    color: whitesmoke;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 100px;
}